<div class="contents">
  <div class="container">
    <h1>新規登録画面</h1>
    <%= form_with model: @user, url: user_registration_path, id: 'user-form', class: 'user-form', local: true do |f| %>

      <%= render 'shared/error_messaes', model: f.object %>

      <div class="user-field">
        <%= f.label :nickname %> <em>(最大8文字)</em><span>必須</span><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "8" %>
      </div>

      <div class="user-field">
        <%= f.label :email %><span>必須</span><br />
        <%= f.email_field :email %>
      </div>

      <div class="user-field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em><span>必須</span>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="user-field">
        <%= f.label :password_confirmation %><span>必須</span><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="user-actions">
        <%= f.submit "登録" ,class:"user-action" %>
      </div>
    <% end %>
  </div>
</div>