<div class="contents">
  <div class="container">
    <h2>目標編集画面</h2>
    <%= form_with model: @objective, id: 'form-objective', class: 'form-objective', local: true do |f| %>
      <div class="objective-field">
        <%= f.label :declaration %><br />
        <%= f.text_field :declaration, autofocus: true %>
      </div>
      
      <div class="objective-field">
        <%= f.label :reason %><br />
        <%= f.text_field :reason, autofocus: true %>
      </div>

      <div class="objective-field">
        <%= f.label :reward %><br />
        <%= f.text_field :reward, autofocus: true %>
      </div>
      
      <div class="check-field">
        <%= f.check_box :set_flag %>
        <span>今の目標に設定するならチェック<span>
      </div>

      <div class="objective-action">
        <%= f.submit "更新" , class: "objective-action-btn"%>
      </div>
    <% end %>
  </div>
</div>