<div class="contents">
  <div class= "container">
    <div class="objective-declaration">
      <div class="achieve-pop hidden", id="achieve-pop">
        <%= image_tag 'achieve-image.jpg',class: 'achieve-image'%>
        <div class="achieve-comment">今日のやること達成！！</br>お疲れ様！！</div>
        <div class="close-btn" id="close-btn">×</div>
      </div>
      <% if @setting_objective.present? %>
        <span class="date">日付：</span><span class="date" id="date"></span>
        <span>目標：</span><%= link_to @setting_objective.declaration, objective_path(@setting_objective.id) ,class: "aaa"%>
      <% elsif user_signed_in?%>
        <span class="date">日付：</span><span class="date" id="date"></span>
        <span>目標を設定しよう</span>
      <% else %>
        <%# ログインしていない時のトップ %>
        <%= render partial: "shared/not_sign_top" %>
      <% end %>
    </div>

    <% if @menus.present? %>
      <div class="today-menus-contents">
        <ul class="today-menus">
          <% @menus.each do |menu| %>
            <li class="today-menu">
              <input type="checkbox" class="achieve-check" data-id= <%= menu.id %> data-check=<%= menu.achieve_flag%> data-updated=<%= menu.updated_at %> name="check">
              <div class="today-menu-todo">
                <%= menu.todo %>
                <% unless menu.time.blank? %>
                  <%= " ( #{menu.time} )" %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <% if user_signed_in? %>
        <div>今日のメニューはありません</div>
      <% end %>
    <% end %>
  </div>
</div>
