<div class="contents">
  <div class= "container">
    <span class="date">日付：</span><span class="date" id="date"></span>
    <div class="objective-declaration">
      <%= image_tag '達成画象.jpg',class: 'achieve-image', size: '600x400'%>
      <div class="achieve-comment">今日のやること達成！！</br>お疲れ様！！</div>
      <% if @objective.present? %>
        <span>目標：</span><%= link_to @objective.declaration, objective_path(@objective.id) ,class: "aaa"%>
      <% elsif user_signed_in?%>
        <span>目標を設定しよう</span>
      <% else %>
        <span>ログイン または 新規登録して下さい</span>
      <% end %>
    </div>

    <div class="today-menus-contents">
      <% if @menus.present? %>
        <ul class="today-menus">
            <% @menus.each do |menu| %>
              <li class="today-menu">
                <input type="checkbox" class="achieve-check" data-id= <%= menu.id %> data-check=<%= menu.achieve_flag%> data-updated=<%= menu.updated_at %> name="check">
                <div class="today-menu-todo">
                  <%= menu.todo %>
                  <% unless menu.time.blank? %>
                    <%= " ( #{menu.time} )" %>
                  <% end %>
                </div>
              </li>
            <% end %>
        </ul>
      <% else %>
        <% if user_signed_in? %>
          <div>今日のメニューはありません</div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
