<div class="contents">
  <div class="container"> 
    <div class="objective-contents">
      <div><span>目標　：</span><span><%= @objective.declaration %></span></div>
      <div><span>理由　：</span><span><%= @objective.reason %></span></div>
      <div><span>ご褒美：</span>
        <span>
          <% if @objective.reward == ""%>
            <span>設定なし</span>
          <% else %>
            <%= @objective.reward %>
          <% end %>
        </span>
      </div>
    </div>
    <div class="edit-btn">
      <%= button_to "目標の編集", edit_objective_path(@objective.id), method: :get %>
      <%= button_to "目標の削除", objective_path(@objective.id), method: :delete, data: { confirm: "本当に削除しますか？", disable_with: 'loading...' } %>
      <%= button_to "メニュー追加", add_edit_menus_path, method: :get, params: {objective_id: @objective.id}  %>
      <%= button_to "メニュー削除", multi_delete_menus_path, method: :get, params: {objective_id: @objective.id} %>
    </div>
    <div>
      <table>
        <tr>
          <th>日</th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
        </tr>
        <tr>
          <% 7.times do |num| %>
            <td>
              <ul class="menu-list">
                <% if @objective.present? %>
                    <% @objective.menus.where(week_id: num).each do |menu| %>
                      <li class="menu-list-todo" data-todo="<%= menu.todo %>" data-time= "<%= menu.time %>" data-effect="<%=menu.effect%>"><%= menu.todo %></li>
                    <% end %>
                <% end %>
              </ul>
            </td>
          <% end %>
        </tr>
      </table>
    </div>

    <div class="menu-detail">
        <div class="menu-detail-title">メニュー：</div>
        <div id="show-menu" class="menu-detail-contents"></div>
    </div>
    <div class="menu-detail">
        <div class="menu-detail-title">回数　　：</div>
        <div id="show-time" class="menu-detail-contents"></div>
    </div>
    <div class="menu-detail">
        <div class="menu-detail-title">効果　　：</div>
        <div id="show-effect" class="menu-detail-contents"></div>
    </div>
    <div class="caution-comment">※メニューをクリックしたら内容が表示されます</div>
  </div>
</div>
