<header class="second-header">
  <div class="second-header-contents">
<%# 削除するかも %>
    <div class="lists-left">
      <% if user_signed_in? %>
        <%# <div class="user-name"><%= link_to "マイページ", user_path(current_user.id) ></div> %>
      <% end %>
    </div>
<%# //削除するかも %>
    <% if user_signed_in? %>
      <div class="lists-right-signin">
        <div class="user-content">
          <div class="user-name" id="user-name"><%= current_user.nickname %> ▼</div>
          <ul class="show-list" id="show-list">
            <li><%= link_to "マイページ", user_path(current_user.id), class: "pull-down-list" %></li>
            <%# 目標設定は仮で作成 %>
            <li><%= link_to '新しい目標を設定', new_objective_path, class: "pull-down-list" %></li>
            <%# //目標設定は仮で作成 %>
          </ul>
        </div>
        <div><%= link_to 'ログアウト', destroy_user_session_path, class: "logout", method: :delete%></div>
      </div>
    <% else %>
      <ul class="lists-right-signout">
        <li><%= link_to 'ログイン', new_user_session_path, class: "login"%></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up"%></li>
      </ul>
    <% end %>
  </div>
</header>
