    <div>
      <table>
        <tr>
          <th>日</th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
        </tr>
        <tr>
          <td>
            <ul class="menu-list">
              <% if objective.present? %>
                <% objective.menus.where(week_id: 0).each do |menu| %>
                  <li><%= menu.todo %>
                  <%= button_to 'bottun', menu_path(menu.id), method: :delete ,class: "delete-btn hidden", params: {objective_id: @objective.id} %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </td>
          <td>
            <ul class="menu-list">
              <% if objective.present? %>
                <% objective.menus.where(week_id: 1).each do |menu| %>
                  <li><%= menu.todo %></li>
                  <%= button_to 'bottun', menu_path(menu.id), method: :delete ,class: "delete-btn hidden", params: {objective_id: @objective.id} %>
                <% end %>
              <% end %>
            </ul>
          </td>
          <td>
            <ul class="menu-list">
              <% if objective.present? %>
                <% objective.menus.where(week_id: 2).each do |menu| %>
                  <li><%= menu.todo %></li>
                  <%= button_to 'bottun', menu_path(menu.id), method: :delete ,class: "delete-btn hidden", params: {objective_id: @objective.id} %>
                <% end %>
              <% end %>
            </ul>
          </td>
          <td>
            <ul class="menu-list">
              <% if objective.present? %>
                <% objective.menus.where(week_id: 3).each do |menu| %>
                  <li><%= menu.todo %></li>
                <% end %>
              <% end %>
            </ul>
          </td>
          <td>
            <ul class="menu-list">
              <% if objective.present? %>
                <% objective.menus.where(week_id: 4).each do |menu| %>
                  <li><%= menu.todo %></li>
                <% end %></ul>
              <% end %>
          </td>
          <td>
            <ul class="menu-list">
              <% if objective.present? %>
                <% objective.menus.where(week_id: 5).each do |menu| %>
                  <li><%= menu.todo %></li>
                <% end %>
              <% end %>
            </ul>
          </td>
          <td>
            <ul class="menu-list">
              <% if objective.present? %>
                <% objective.menus.where(week_id: 6).each do |menu| %>
                  <li><%= menu.todo %></li>
                <% end %>
              <% end %>
            </ul>
          </td>
        </tr>
      </table>
    </div>