<div class="contents">
  <div class="container">
    <h1>ログイン画面</h1>
    <%= form_with model: @user, url: user_session_path, id: 'user-form', class: 'user-form', local: true do |f| %>
      <div class="error-alert">
        <% if notice %>
          <ul>
            <li class='error-message'><%= notice %></li>
          </ul>  
        <% end %>
        <% if alert %>
          <ul>
            <li class='error-message'><%= alert %></li>
          </ul>
        <% end %>
      </div>
      <div class="user-field">
        <%= f.label :email %><span>必須</span><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="user-field">
        <%= f.label :password %><span>必須</span><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="user-field", id="remember_me">
          <%= f.label :remember_me %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="user-actions">
        <%= f.submit "ログイン" ,class:"user-action" %>
      </div>
    <% end %>
  </div>
</div>